{% extends "logged_in_layout.html" %}
{% block title %} Hata Sayfası {% endblock %}

{% block content %}
  <p style="font-weight:bold;color:#90C3D4"><font size = 10> Hata Sayfası </font></p>
  <p style="color:"><font size = 6> Malesef! Aradığınız içeriğe ait bilgi bulunamıyor :(</font></p><br>
  <p style="color:"><font size = 6> Veri tabanında olmayan bir şehri girmiş veya şehir girerken ilk harfini küçük harfle girmiş olabilirsiniz, eğer bunlardan birini yaptıysanız tekrar deneyin!</font></p>
{% endblock %}
