{% extends "logged_in_layout.html" %}
{% block title %}Etkinlikler{% endblock %}
{% block content  %}

<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <title>Etkinlikler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:1000px;color: #000; background-color: #85e085;}
  #section2 {padding-top:50px;height:1000px;color: #000; background-color:#85e085;}
  #section3 {padding-top:50px;height:1000px;color: #000; background-color: #85e085;}
  #section4 {padding-top:50px;height:1000px;color: #000; background-color:#85e085;}
  #section5 {padding-top:50px;height:1000px;color: #000; background-color: #85e085;}
  </style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Gelecek Etkinlikler</a></li>
          <li><a href="#section2">Geçmiş Etkinlikler</a></li>
          <li><a href="#section3">Etkinlik Oluştur</a></li>
          <li><a href="#section4">Etkinliği Kaldır</a></li>
          <li><a href="#section5">Etkinliği Güncelle</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid">
  <h1>Gelecek Etkinlikler</h1>
</div>
<div id="section2" class="container-fluid">
  <h1>Geçmiş Etkinlikler</h1>
</div>
<div id="section3" class="container-fluid">
  <h1>Etkinlik Oluştur</h1>
</div>
<div id="section4" class="container-fluid">
  <h1>Etkinliği Kaldır</h1>
</div>
<div id="section5" class="container-fluid">
  <h1>Etkinliği Güncelle</h1>
</div>
</body>
{%endblock%}