{% extends "logged_in_layout.html" %}
{% block title %}Makaleler{% endblock %}
{% block content %}
	<div class="container text-center" style="background-color:LightGray ;">
		<h2>Bu sayfa kişi, grup ve kurumlara ait makaleler hakkında tüm detayları içerecek...</h2>
	</div>
	<div class= "container">
   <div class="row">
   	<div class="container text-center">
		<br>
		<br>
		<h3>Makaleler</h3>
		<br>
<div class="panel panel-default">
  <div class="panel-heading">Makaleler</div>
  <table class="table">
  <tr>
    <th>Makale Adı</th>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Yayınlanma Yılı</th>
    <th>E-mail</th>
  </tr>
  <tr>
    <td>Efficient algorithms for the (weighted) minimum circle problem</td>
    <td>Donald</td>
    <td>Hearn</td>
    <td>1982</td>
    <td>Hearn@ise.ufl.edu</td>
  </tr>
  <tr>
    <td>The minimum covering sphere problem</td>
    <td>Donald</td>
    <td>Hearn</td>
    <td>1972</td>
    <td>Hearn@ise.ufl.edu</td>
  </tr>
</table>
</div>
</div>
   
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Makale ekle</h3>
        <p><a href="#" class="btn btn-primary" role="button">Ekle</a></p>
      </div>
    </div>
  </div>
	
	
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Makale Sil</h3>
        <p><a href="#" class="btn btn-primary" role="button">Sil</a></p>
      </div>
    </div>
  </div>
  
  	
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Makale Güncelle</h3>
        <p><a href="#" class="btn btn-primary" role="button">Güncelle</a></p>
      </div>
    </div>
  </div>
{%endblock%}