{% extends "logged_in_layout.html" %}
{% block title %}Makaleler{% endblock %}
{% block content %}
<head>
<style>
button.accordion {
    background-color: #99ff33;
    color: #264d00;
    cursor: pointer;
    padding: 15px;
    height:50px;
    width: 75%;
    shadow:10px;
	border: 2px double #264d00;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 10px 10px #264d00;
}

button.accordion.active, button.accordion:hover {
    background-color: #99ff33; 
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #264d00;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
div.panel {
    padding: 0 18px;
    display: none;
}

div.panel.show {
    display: block;
}

</style>
</head>
<body style="color:#264d00;">

<h1>MAKALELER</h1>

<button class="accordion"><strong>MAKALELERİ LİSTELE</strong></button>
<div class="panel">
<h1>Makaleleri Listele</h1>
  <form action="{{ url_for('articles_page') }}" method="post">
    <table>
    	<tr>
    		<th><b>Makale Adı</b></th>
    		<th><b><ins>Ad</b></ins></th>
    		<th><b><ins>Soyad</b></ins></th>
    		<th><b>Yayın yılı</b></th>
    		<th><b>E-Posta Adresi</b></th>
    		<th><b><ins>Yayınlandığı Üniversite<ins></b></th>
    	</tr>
    	{% for ArticleId, ArticleName, UserId, Name, SurName, ReleaseYear, Mail, title in ArticleList %}
    	<tr>
    		<th>{{ ArticleName }}</th>
    		<th>{{ Name }}</th>
    		<th>{{ SurName }}</th>
    		<th>{{ ReleaseYear }}</th>
    		<th>{{ Mail }}</th>
    		<th>{{ title }}</th>
    	</tr>
    	{% endfor %}
    </table>
  </form>
</div>

<button class="accordion"><strong>MAKALE EKLE</strong></button>
<div class="panel">
<h1>Makale Ekle</h1>
<form action="{{ url_for('articles_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Makale Adı:</th> 
        <td><input type="text" name="ArticleName" required autofocus  /> </td>
      </tr>
      <tr> 
        <th>Kullanıcı:</th> 
             <td><select name="UserId">
           	{% for UserId, name in UserList %}
         	<option value={{ UserId }}>{{ name }}</option>
         	{% endfor %}
          </select></td>
      </tr>
      <tr> 
         <th>Yayın Yılı:</th> 
        <td><input type="text" name="ReleaseYear"  required autofocus /> </td>
      </tr>
      <tr> 
         <th>E-Posta Adresi:</th> 
        <td><input type="text" name="Mail" required autofocus /> </td>
      </tr> 
      <tr> 
         <th>Üniversite:</th> 
         <td><select name="uni_id">
           	{% for id, title in UniversityList %}
         	<option value={{ id }}>{{ title }}</option>
         	{% endfor %}
          </select></td>
      </tr>
    </table>
    <input type="submit" value="Makale Ekle" name="articles_to_add" />
  </form>
</div>

<button class="accordion"><strong>MAKALE SİL</strong></button>
<div class="panel">
 <h1>Makale Sil</h1>
  <form action="{{ url_for('articles_page') }}" method="post">
    <table>
    	<tr>
    		<th><b>Sil</b></th>
    		<th><b>Makale Adı</th>
    		<th><b><ins>Ad</b></ins></th>
    		<th><b><ins>Soyad</b></ins></th>
    		<th><b>Yayın Yılı</b></th>
    		<th><b>E-Posta Adresi</b></th>
    		<th><b><ins>Yayınlandığı Üniversite</b></ins></th>
    	</tr>

    	{% for ArticleId, ArticleName, UserId, Name, SurName, ReleaseYear, Mail, title in ArticleList %}
    	<tr>
    		<td><input type="checkbox" name="articles_to_delete" value="{{ ArticleId }}" /></td>
    		<th>{{ ArticleName }}</th>
    		<th>{{ Name }}</th>
    		<th>{{ SurName }}</th>
    		<th>{{ ReleaseYear }}</th>
    		<th>{{ Mail }}</th>
    		<th>{{ title }}</th>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Seçili Makaleleri Sil" name="delete" /> 
  </form>
</div>

<button class="accordion"><strong>MAKALE GÜNCELLE</strong></button>
<div class="panel">
 <h1>Makale Güncelle</h1>
 <span style="float:left;">
    <form action="{{ url_for('articles_page') }}" method="post">
    <table>
    	<tr>
    		<th><b><ins> Güncelle</b></ins></th>
    		<th><b>Makale Adı</b></th>
    		<th><b><ins>Ad</b></ins></th>
    		<th><b><ins>Soyad</b></ins></th>
    		<th><b>Yayın yılı</b></th>
    		<th><b>E-Posta Adresi</b></th>
    		<th><b><ins>Yayınlandığı Üniversite</b></ins></th>
    	</tr>

    	{% for ArticleId, ArticleName, UserId, Name, SurName, ReleaseYear, Mail, title in ArticleList %}
    	<tr>
    		<td><input type="radio" value="{{ ArticleId }}" name="select_record" /></td>
    		<th>{{ ArticleName }}</th>
    		<th>{{ Name }}</th>
    		<th>{{ SurName }}</th>
    		<th>{{ ReleaseYear }}</th>
    		<th>{{ Mail }}</th>
    		<th>{{ title }}</th>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Seçili Makaleyi Güncelle" name="update" />
  </form>
  </span>
  <span style="float:right;">
  <form action="{{ url_for('articles_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Makale No:</th> 
        <td><input type="text" name="ArticleId"  value={{ article[0][0] }} required autofocus readonly /> </td>
      </tr>  
        <th>Makale Adı:</th> 
        <td><input type="text" name="ArticleName"  value={{ article[0][1] }} required autofocus /> </td>
      </tr>
      <tr> 
        <th>Kullanıcı:</th> 
             <td><select name="UserId">
           	{% for UserId, name in UserList %}
         	<option value={{ UserId }}>{{ name }}</option>
         	{% endfor %}
          </select></td>
      </tr>
      <tr> 
         <th>Yayın Yılı:</th> 
        <td><input type="text" name="ReleaseYear"  value={{ article[0][5] }} required autofocus /> </td>
      </tr>
      <tr> 
         <th>E-Posta Adresi:</th> 
        <td><input type="text" name="Mail"  value={{ article[0][6] }} required autofocus /> </td>
      </tr> 
      <tr> 
         <th>Üniversite:</th> 
             <td><select name="uni_id">
           	{% for id, title in UniversityList %}
         	<option value={{ id }}>{{ title }}</option>
         	{% endfor %}
          </select></td>
      </tr>
    </table>
    <input type="submit" value="Makale Güncelle" name="articles_to_update"/>
</form>
</span>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i,j;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
    var active = document.querySelector(".accordion.active");
    if (active && active != this) {
      active.classList.remove("active");
      active.nextElementSibling.classList.remove("show");
    }
    this.classList.toggle("active");
    this.nextElementSibling.classList.toggle("show");
  }
}

(function() {
    var elm = document.getElementById('university'),
        df = document.createDocumentFragment();
    for (var i = 1; i <= 42; i++) {
        var option = document.createElement('option');
        option.value = i;
        option.appendChild(document.createTextNode(i));
        df.appendChild(option);
    }
    elm.appendChild(df);
}())

</script>
</body>
<br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>
{%endblock%}
