{% extends "logged_in_layout.html" %}
{% block title %}Makaleler{% endblock %}
{% block content %}
	<div class="container text-center" style="background-color:LightGray ;">
		<h2>Bu sayfa kişi, grup ve kurumlara ait makaleler hakkında tüm detayları içerecek...</h2>
  <h3>Makale Listesi</h3>
  <form action="{{ url_for('articles_page') }}" method="post">
    <table>
    	<tr>
    		<th>Sil </th>
    		<th> Güncelle </th>
    		<th>Makale No</th>
    		<th>Makale Adı</th>
    		<th>Kullanıcı No</th>
    		<th>Ad</th>
    		<th>Soyad</th>
    		<th>Yayın yılı</th>
    		<th>E-Posta Adresi</th>
    	</tr>

    	{% for ArticleId, ArticleName, UserId, Name, SurName, ReleaseYear, Mail in ArticleList %}
    	<tr>
    		<td><input type="checkbox" name="articles_to_delete" value="{{ ArticleId }}" /></td>
    		<td><input type="submit" value="{{ ArticleId }}" name="select_record" /></td>
    		<td>{{ ArticleId }}</td>
    		<th>{{ ArticleName }}</th>
    		<th>{{ UserId }}</th>
    		<th>{{ Name }}</th>
    		<th>{{ SurName }}</th>
    		<th>{{ ReleaseYear }}</th>
    		<th>{{ Mail }}</th>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Seçili Makaleleri Sil" name="delete" /> 
  </form>
  </br>
  <span style="float:left;">
  <form action="{{ url_for('articles_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Makale Adı:</th> 
        <td><input type="text" name="ArticleName" required autofocus /> </td>
      </tr>
      <tr> 
        <th>Kullanıcı No:</th> 
        <td><input type="text" name="UserId" required autofocus /> </td>
      </tr>
      <tr> 
         <th>Ad:</th> 
        <td><input type="text" name="Name" required autofocus /> </td>
     </tr>
      <tr> 
        <th>Soyad:</th> 
        <td><input type="text" name="SurName"   required autofocus /> </td>
      </tr>
      <tr> 
         <th>Yayın Yılı:</th> 
        <td><input type="text" name="ReleaseYear"  required autofocus /> </td>
      </tr>
      <tr> 
         <th>E-Posta Adresi:</th> 
        <td><input type="text" name="Mail" required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Makale Ekle" name="articles_to_add"/>
  </form>
  </span>
<span style="float:right;">
  <form action="{{ url_for('articles_page') }}" method="post"> 
    <table>
      <tr> 
        <th>Makale No:</th> 
        <td><input type="text" name="ArticleId"  value={{ article[0][0] }} required autofocus /> </td>
      </tr>  
        <th>Makale Adı:</th> 
        <td><input type="text" name="ArticleName"  value={{ article[0][1] }} required autofocus /> </td>
      </tr>
      <tr> 
        <th>Kullanıcı No:</th> 
        <td><input type="text" name="UserId"  value={{ article[0][2] }} required autofocus /> </td>
      </tr>
      <tr> 
         <th>Ad:</th> 
        <td><input type="text" name="Name"  value={{ article[0][3] }} required autofocus /> </td>
     </tr>
      <tr> 
        <th>Soyad:</th> 
        <td><input type="text" name="SurName"  value={{ article[0][4] }} required autofocus /> </td>
      </tr>
      <tr> 
         <th>Yayın Yılı:</th> 
        <td><input type="text" name="ReleaseYear"  value={{ article[0][5] }} required autofocus /> </td>
      </tr>
      <tr> 
         <th>E-Posta Adresi:</th> 
        <td><input type="text" name="Mail"  value={{ article[0][6] }} required autofocus /> </td>
      </tr> 
    </table>
    <input type="submit" value="Makale Güncelle" name="articles_to_update"/>
</form> 
</span>
	</div>
{%endblock%}