{% extends "logged_in_layout.html" %}
{% block title %}Bağlantılar{% endblock %}
{% block content %}
	<div class="container text-center" style="background-color:LightGray ;">
		<h2>Bu sayfa hesaba ait bağlantıları listeleme, bağlantı ekleme ve arama gibi pek çok 
		işlemin yapılmasını sağlayacak...</h2>

  <ul class="nav nav-pills" role="tablist">
  <li role="presentation"><a href="#">Tüm Bağlantılar<span class="badge">83</span></a></li>
  <li role="presentation"  class="active"><a href="#">Üniversite Arkadaşları<span class="badge">35</span></a></li>
  <li role="presentation" ><a href="#">Lise Arkadaşları<span class="badge">25</span></a></li>
  <li role="presentation" ><a href="#">Filtre 1<span class="badge">13</span></a></li>
  <li role="presentation" ><a href="#">Filtre 2<span class="badge">10</span></a></li>
  		<br></br>
  		<br> </br>
  		<br> </br>
  		<br> </br>
  		<br> </br>
  		<br> </br>
  
</ul>
                    
                    
	</div>
{%endblock%}