{% extends "logged_in_layout.html" %}
{% block title %} İş İlanları - Ekle {%endblock%}
{% block content %}
	<div class="container">
		<h2><b>{{groupName}}</b> Grubu Üyeleri</h2>
		<br><br>

		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Üye Adı-Soyadı</th>
		      <th>Üniversite</th>
		      <th>Statüsü</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for member in members %}
			  <tr>
			    {% for i in range(1,3) %}
			      <td>{{member[i]}}</td>
			    {% endfor %}
			  </tr>
			{% endfor %}
		  </tbody>
		</table>

	</div>
{%endblock%}