{% extends "logged_in_layout.html" %}
{% block title %} İş İlanları - Ekle {%endblock%}
{% block content %}
	<div class="container">
		<h2><b>{{groupName}}</b> Grubundaki İş İlanları</h2>
		<br><br>
		
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Pozisyon</th>
		      <th>Maaş($)</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for job in jobs %}
			  <tr>
			    {% for i in range(2) %}
			      <td>{{job[i]}}</td>      
			    {% endfor %}    			    
			  </tr>  
			{% endfor %}
		  </tbody>		
		</table>

	</div>
{%endblock%}