{% extends "logged_in_layout.html" %}
{% block title %} Gruplar {%endblock%}
{% block content %}
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li class="active"><a href="{{ url_for('group_view') }}">Grupları Görüntüle</a></li>
		  <li><a href="{{ url_for('group_create') }}">Yeni Grup Oluştur</a></li>
		  <li><a href="{{ url_for('group_update') }}">Grup Güncelle</a></li>
		  <li><a href="{{ url_for('group_delete') }}">Grup Sil</a></li>
		</ul>
		<br><br>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Grup Adı</th>
		      <th>Grup Tanımı</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for group in groups %}
			  <tr>
			    {% for i in (1,2) %}
			        <td><a href="{{request.path}}/{{group[0]}}">{{group[i]}}</a></td>
			    {% endfor %}
			    <td><button type="submit" name = "{{group[0]}}" class="btn btn-success">Üye Ol</button></td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	</div>
{%endblock%}