{% extends "logged_in_layout.html" %}
{% block title %} İş İlanları - Sil {%endblock%}
{% block content %}
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li><a href="{{ url_for('group_view') }}">Grupları Görüntüle</a></li>
		  <li><a href="{{ url_for('group_create') }}">Yeni Grup Oluştur</a></li>
		  <li><a href="{{ url_for('group_update') }}">Grup Güncelle</a></li>
		  <li class="active"><a href="{{ url_for('group_delete') }}">Grup Sil</a></li>
		</ul>
		<br><br>

		<form method="POST">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th>Grup Adı</th>
			      <th>Grup Tanımı</th>
			      <th>Silinsin Mi?</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for group in groups %}
				  <tr>
				    {% for i in (1,2) %}
				        <td>{{ group[i] }}</td>
				    {% endfor %}
				    	<td><input type="checkbox" name="groups_to_delete" value= {{ group[0] }}/></td>
				  </tr>
				{% endfor %}
			  </tbody>
			</table>

			{% if groups %}
				<button type="submit" class="btn btn-danger">Sil</button>
			{%endif%}
		</form>

	</div>
{%endblock%}