{% extends "logged_in_layout.html" %}
{% block title %}Anasayfa{% endblock %}
{% block content %}
	<div class="container text-center">
		<div class="container text-center" style="background-color:LightGray ;">
	<h1>İşteSen'e Hoşgeldin.</h1>

	<h2>Sitemiz henüz yapım aşamasındadır, çok yakında görüşmek üzere...</h2>
	
	<img src="static/images/logo1.png" alt="Home Logo";">
	<h3>Bu sayfada içerik paylaşımları belli kriterlere göre sıralı bir şekilde görüntülenecektir.</h3> </div>
	</div>
{% endblock %}