{% extends "logged_in_layout.html" %}
{% block title %} İş İlanları - Güncelle {%endblock%}
{% block content %}
	<div class="container">
		<ul class="nav nav-pills nav-justified">
		  <li><a href="{{ url_for('job_view') }}">İş İlanlarını Görüntüle</a></li>
		  <li><a href="{{ url_for('job_add') }}">İş İlanı Ekle</a></li>
		  <li class="active"><a href="{{ url_for('job_update') }}">İş İlanı Güncelle</a></li>
		  <li><a href="{{ url_for('job_delete') }}">İş İlanı Sil</a></li>
		</ul>
		<br><br>



		 <table class="table table-hover">
		  <thead>
		    <tr>
		      <th>İlan No</th>
		      <th>Şirket</th>
		      <th>Pozisyon</th>
		      <th>Maaş($)</th>
		      <th>Güncellensin Mi?</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for job in jobs %}
			  <tr>
			    {% for i in range(4) %}
			       <td>{{ job[i] }}</td>
			    {% endfor %}
			    <td><a href="{{request.path}}/{{job[0]}}" class="text-info">Güncelle</a></td>
			  </tr>
			{% endfor %}
		  </tbody>
		 </table>

	</div>
{%endblock%}