{% extends "logged_in_layout.html" %}
{% block title %} İş İlanları {%endblock%}
{% block content %}
	<div class="container text-center">
		<br>
		<br>
		<h3>İş İlanları</h3>
		<br>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>
		<p style="font-size:20px">-Burada bir iş ilanı yer alacak-</p>
		<hr>

	</div>
{%endblock%}