<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İşteSen- {%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">İşteSen</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="glyphicon glyphicon-menu-down"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/isilanlari"><span class="glyphicon glyphicon-search"></span> İş İlanları</a></li>
	            <li><a href="/etkinlikler"><span class="glyphicon glyphicon-calendar"></span>  Etkinlikler</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span>  Gruplar</a></li>
	            <li><a href="/universiteler"><span class="glyphicon glyphicon-education"></span>  Üniversiteler</a></li>
	            <li><a href="/sirketler"><span class="glyphicon glyphicon-briefcase"></span>  Şirketler</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Konular</a></li>
	            <li><a href="/makaleler"><span class="glyphicon glyphicon-book"></span>  Makaleler</a></li>

	          </ul>
	        </li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
	 		<li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Mesajlar</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kullanıcılar <span class="glyphicon glyphicon-menu-down"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Profil</a></li>
	            <li><a href="#"><span class="glyphicon glyphicon-cog"></span>  Ayarlar</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Çıkış Yap</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<br><br><br>
    {%block content%}{%endblock%}
    <hr>

	<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 İşteSen, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      <div id="datetime">{{ current_time }}</div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>
