{% extends "logged_in_layout.html" %}
{% block title %} Mesajlar {%endblock%}
{% block content %}
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
		    <li id="newMessage" class="active"><a href="#">Yeni Mesaj</a></li>
			<li><a href="#">Gelen Kutusu</a></li>
			<li><a href="#">Gönderilenler</a></li>
		</ul>
		<form>
			<br>
			<br>
			<input type="text" name="receiver" placeholder="Alıcı Kullanıcı Adı">
			<br>
			<br>
			<textarea rows=5 cols=40 name="message" placeholder="Mesajınızı buraya yazınız."></textarea>
			<br>
			<br>
			<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-message"></span>Gönder</button>
		</form>
	</div>
{%endblock%}